DB_HOST=gostivoidom-gostivoidom-9ef7.h.aivencloud.com
DB_PORT=22346
DB_NAME=defaultdb
DB_USER=avnadmin
DB_PASS=replace-me
DB_SSL_MODE=REQUIRED
DB_SSL_VERIFY=false
HF_API_TOKEN=replace-me

# Optional alternatives:
# DATABASE_URL=mysql://avnadmin:replace-me@gostivoidom-gostivoidom-9ef7.h.aivencloud.com:22346/defaultdb?ssl-mode=REQUIRED
# DB_SSL_CA_CERT=-----BEGIN CERTIFICATE-----...
